{% extends 'html.twig' %}

{% block contents %}
    <h1>{{ name }}!Исследование на тему: <br> «Взаимосвязь индивидуально - психологических особенностей и толерантности личности»</h1>
    <p>Цель нашего исследования — <strong>выявление взаимосвязи между уровнем толерантности и ориентацией личности.</strong>
    Исследование является анонимным. Интерпретация данных будет проводиться на основании
    результатов статистической обработки. Индивидуальные данные не разглашаются и не
    интерпретируются. Для заполнения бланка внимательно прочитайте инструкцию и дайте ответ соответствующий вашим
    представлениям.</p>
    <div class="blank">
        <h2>Бланк методики №1</h2>
        <div class="blank-instructions">
            <p>
            <strong>Инструкция:</strong> Оцените, насколько приведенные ниже суждения верны по отношению к Вам. <br>
            При ответе используйте баллы от 0 до 3, где<br>
            <strong>0</strong> – совсем неверно,<br>
            <strong>1</strong> – верно в некоторой степени,<br>
            <strong>2</strong> – верно в значительной степени,<br>
            <strong>3</strong> – верно в высшей степени.
            </p>
            <div class="hr"></div>
        </div>
        <div class="blank-section">
            <h4>Шкала 1.</h4>
            <div class="question-type-one">
                <div class="question-head">
                    1. Медлительные люди обычно действуют мне на нервы
                </div>
                <div class="question-body">
                    <div class="question-left">Совсем неверно</div>
                    <div class="question-var">0</div>
                    <div class="question-var">1</div>
                    <div class="question-var">2</div>
                    <div class="question-var">3</div>
                    <div class="question-right">Верно в высшей степени</div>
                </div>
            </div>
            <div class="question question-type-one">
                <div class="question-head">
                    2. Меня раздражают суетливые, непоседливые люди
                </div>
                <div class="question-body">
                    <div class="question-left">Совсем неверно</div>
                    <div class="question-var">0</div>
                    <div class="question-var">1</div>
                    <div class="question-var">2</div>
                    <div class="question-var">3</div>
                    <div class="question-right">Верно в высшей степени</div>
                </div>
            </div>
            <div class="question question-type-one">
                <div class="question-head">
                    3. Шумные детские игры я переношу с трудом
                </div>
                <div class="question-body">
                    <div class="question-left">Совсем неверно</div>
                    <div class="question-var">0</div>
                    <div class="question-var">1</div>
                    <div class="question-var">2</div>
                    <div class="question-var">3</div>
                    <div class="question-right">Верно в высшей степени</div>
                </div>
            </div>
            <div class="question question-type-one">
                <div class="question-head">
                    4. Оригинальные, нестандартные, яркие личности чаще всего действуют на меня отрицательно

                </div>
                <div class="question-body">
                    <div class="question-left">Совсем неверно</div>
                    <div class="question-var">0</div>
                    <div class="question-var">1</div>
                    <div class="question-var">2</div>
                    <div class="question-var">3</div>
                    <div class="question-right">Верно в высшей степени</div>
                </div>
            </div>
            <div class="question question-type-one">
                <div class="question-head">
                    5. Безупречный во всех отношениях человек насторожил бы меня
                </div>
                <div class="question-body">
                    <div class="question-left">Совсем неверно</div>
                    <div class="question-var">0</div>
                    <div class="question-var">1</div>
                    <div class="question-var">2</div>
                    <div class="question-var">3</div>
                    <div class="question-right">Верно в высшей степени</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="button-wrap">
            <p>Шаг 1 из 6</p>
            <div class="button accent">Далее</div>
        </div>
    </div>
{% endblock %}
