{% extends 'html.twig' %}

{% block contents %}

    <h1>Исследование: <br> «Взаимосвязь индивидуально - психологических особенностей и толерантности личности»</h1>
    <p>Цель исследования — выявление взаимосвязи между уровнем толерантности и ориентацией личности.
    Исследование является <strong>анонимным</strong>. Интерпретация данных будет проводиться на основании
    результатов статистической обработки. Индивидуальные данные не разглашаются и не
    интерпретируются. Для заполнения бланка внимательно прочитайте инструкцию и дайте ответ соответствующий вашим
    представлениям.</p>
    <div class="disclaimer">
        <p><strong>Опрос состоит из 6 страниц:</strong><br>
            1-2 — Оценка утверждений<br>
            3 — Шкала Кинси<br>
            4 — Решетка Клейна<br>
            5 — Произвольный ответ на вопрос "Кто Я?"<br>
            6 — Оценка характеристик личности<br>
        </p>
        <p>Средняя продожительность всего опроса: <strong>~45 минут</strong></p>
        <p>Сайт сохраняет ваш прогресс на каждом из 6 этапов. Так вы сможете сделать перерыв, не боясь за результат. <br>
            <strong>Внимание:</strong> прогресс будет сброшен, если вы очистите Cookies браузера. Иногда это может произойти при его закрытии.
        </p>
    </div>
    {% if results != null %}
    <div class="disclaimer disclaimer--green">
        <p><strong>Внимание:</strong><br>
            Вы уже начали прохождение опроса, вы можете <a href="{{ url_for('survey') }}">продолжить</a> заполнять его
        </p>
    </div>

    <div>
        <div class="button-wrap">
            <a href="{{ url_for('survey') }}" class="button">Продолжить</a>
        </div>
    </div>
    {% else %}
    <div>
        <div class="button-wrap">
            <a href="{{ url_for('survey') }}" class="button">Начинаем?</a>
        </div>
    </div>
    {% endif %}

{% endblock %}
