<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" href="/assets/img/favicon.png">
	<meta property="og:image" content="/assets/img/@1x/preview.jpg">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/styles.min.css?v-2">

    <title>{{ pageTitle }}</title>
</head>

<body>

<div class="container">
    {% block contents %}
    {% endblock %}
</div>
<footer>
    <div class="container">
        <p style="font-size: 14px"><strong>Автор опроса:</strong> Надежда Марченко, студентка 5 курса специальности "Психология", алматинского филиала СПбГУП. <br> Email для вопросов и консультаций: <strong>nmarchenko97@gmail.com</strong></p>
    </div>
</footer>

<!-- Optional JavaScript -->
<script src="/assets/js/scripts.min.js?v-2"></script>

{% block scripts %}{% endblock %}
</body>
</html>
