{% extends 'html.twig' %}

{% block contents %}
<h1>Экспорт в XLSX (Эксель 2007-2019)</h1>
<p>Файл успешно создан!</p>

<div class="button-wrap">
    <a href="/exported/result.xlsx" class="button accent" style="color: #fff"><i style="font-size: 18px" class="far fa-download"></i> Скачать файл</a>
</div>
{% endblock %}
